body
{
    background-image: url("../image/25.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

}
.nav{
    position:absolute ;
    top: 0;
    left: 0;
    height:60px;
    width:100%;
    background-color: black;
   
}
ul{
    list-style-type: none;
    display: flex;
}
li{
   
}
a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin-right: 300px;
}
.playing{
    position: absolute;
    top:200px;
    left:100px;
    height: 400px;
    width: 900px;
    background-image:url(../image/songsplaying.png);
    background-repeat: no-repeat;
    background-position: center;
}
.circle{
    position: absolute;
    top:20px;
    left: 350px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: black;
    background-image: url(../image/3.jpg);
    background-position: center;
    background-size:cover ;
    border:  6px solid black;
    transition: transform 5s;
}
.circle:hover{
    transform: rotate(360deg);
}
#jannat{
    display: none;
}