body{
    padding: 0;
    margin:0;
    
}
ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color:#184079;
    border-radius: 5px;
}
li{
    float: left;

}
a{
    display: block;
    padding: 12px 18px;
    color: white;
    text-decoration: none;
}
a:hover{
    background-color:green;
    border-radius: 5px;

}
i{
    padding-right: 1px;
}
.div1{
    position: absolute;
    top:0px;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: teal;
}
.div2{
    position: absolute;
    top: 40px;
    height: 250px;
    padding-left: 0;
    width: 100%;
    background-color:white;
    border-radius: 5px;
}
.div3{
    position: absolute;
    overflow: hidden;
    top: 290px; 
    height: 300px;
    width: 99.9%;
    border-radius: 5px;
    
    border: 1px,solid #184079;
}
.card1{
    border: 1px,solid #184079;
    top: 10px;
    left: 10px;
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 20px;
}
.card2{
    border: 1px,solid #184079;
    top: 10px;
    left: 250px;
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 20px;
}
.card3{
    border: 1px,solid #184079;
    top: 10px;
    left: 480px;
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 20px;
}
.card4{
    border: 1px,solid #184079;
    top: 10px;
    left: 710px;
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 20px;
}
.card5{
    border: 1px,solid #184079;
    top: 10px;
    left: 940px;
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 20px;
}
.card6{
    border: 1px,solid #184079;
    top: 10px;
    left: 1170px;
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 20px;
}
.bt1{
    height: 30px;
    width: 80%;
    border-radius: 5px;
}
.bt1:hover{
    background-color:#184079;
}
.text{
    position: absolute;
    top: 270px;
    background-color: #184079;
    width: 100%;
}
.one
{   text-align: center;
    position: absolute;
    top: 280px;
}
.div4{
    position: absolute;
    top: 260px;
    bottom: 10px;
    height: 30px;
    width: 100%;
    background-color: blue;
    
}
.div5
{
    position: absolute;
    top: 592px;
    height: 600px; ;
    width: 100%;
    background-color: black;
}
.div6{
    position: absolute;
    top: 1192px;
    height: 350px;
    width: 100%;
    border: 2px,solid black;
    
}
